{% include "header.html" %}
		<div id="wrapper" class="container">
		    			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="moduletable">

<ul class="breadcrumb">
	<li class="active"><span class="divider icon-location"></span></li><li><a href="../index.html" class="pathway">Home</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li><a href="../people" class="pathway">People</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li class="active"><span>Departmental Assignments</span></li></ul>
		</div>


				</div>
			</div>
		    		</div>

		<div class="slideshow">
			<div id="header" class="container">
							</div>
		</div>

	<div class="department">
		<div id="header" class="container">
		 			</div>
	</div>
	<div class="feature">
		<div id="wrapper" class="container">


			<div id="globalContent">


			    <div class="row">

						<div id="contentBox" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<div><div id="system-message-container">
	</div>
</div>
							<div><div class="item-page" itemscope itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB" />
				<div class="page-header">
		<h2 itemprop="name">
												<a href="departmental-assignments" itemprop="url"> Departmental Assignments 2013-14</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<table cellspacing="0" cellpadding="2" width="637">
<colgroup><col width="320" /> <col width="307" /> </colgroup>
<tbody>
<tr>
<td style="border: 1.00pt dashed #bbbbbb; padding: 0.05cm 0.19cm;" colspan="2" width="631">
<p style="margin-bottom: 0cm;"><strong><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">DEPARTMENTAL 			ASSIGNMENTS</span></span></strong>&nbsp;</p>
<p style="margin-top: 0.25cm; margin-bottom: 0.21cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">July 			4, 2014</span></span></p>
<p style="margin-top: 0.25cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Allocation 			of Departmental Assignments for the period ending 30/6/2015</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><strong><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">SECRETARY, 			DEPT. FACULTY BOARD</span></span></strong>&nbsp;</p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Dr. M.K.Singha</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><strong><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">DEPARTMENTAL 			RESEARCH COMMITTEE</span></span></strong></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">1. Chairman</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p>&nbsp;<span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S.V.Veeravalli</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">2. Member</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Suhail Ahrnad</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">3. Member</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Sanjeev Sanghi</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">4 Member</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S. Kapuria</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">5. Member</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Anupam Dewan</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">6. Member</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Rajesh Prasad</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">7. Member</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">M. R. 			Cholemari</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">8&nbsp; Member</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S. Pradyumna</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">9&nbsp; Member</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Puneet Mahajan</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><strong><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">GROUP 			COORDINATORS</span></span></strong></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">1. Solid 			Mechanics</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Santosh 			Kapuria</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">2. Fluid 			Mechanics</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Sanjeev Sanghi</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">3. Design 			Engg.</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">B. P. Patel</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">4. Materials 			Science</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Rajesh Prasad</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><strong><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">PROGRAMME 			COORDINATORS</span></span></strong></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">1.MXech. 			(Engg. Mech.)</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S. Pradyumna</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">2.M.Tech. 			(Design Engg.)</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">M. 			R. Cholemari</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">3.DIIT (Naval 			Construction Wing)</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Rajesh Prasad</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">4. Ph.D.</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Anupam Dewan</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><strong><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">LABORATORY 			INCHARGES</span></span></strong></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">I .Fluid 			Mechanics</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;"><span style="background: #f8f8f8;">Sawan 			Suman</span></span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">2.Strength of 			Materials</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S. Roy</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">3.Materials 			Science/Physical Metallurgy</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Jayant Jain</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">4.Gas Dynamics</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">M. R. 			Cholemari</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">5.Stress 			Analysis </span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Santosh 			Kapuria</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">6. Exptl. 			Methods</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">M. K. Singha</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">7. Impact 			Mechanics</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Vikrant Tiwari</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">8. 			Computational Lab.</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Ajeet Kumar</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">9. 			Departmental Workshop</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Vikrant Tiwari</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">10. 			Departmental Stores</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Puneet Mahajan</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">11.Departrnental 			Library</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Anamika Prasad</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">12 .M.T.S.</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">B.P.P.atel</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">13.Design 			Optimization Lab.</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S. Hegde</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">14. C.F.D. 			Lab. &amp; HPC cluster</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Balaji S. and 			Ajeet Kumar</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><strong><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">OTHER 			ASSIGNMENTS</span></span></strong></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">1.Time Table 			(Incharge)</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Balaji S.</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">2. Computer 			Liaison Officer/ AMD website</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;" lang="de-DE"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S. 			Hegde</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">3. Safety 			Committee</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;" lang="de-DE"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S. 			Roy</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">4. Training &amp; 			Placement</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;"><span style="background: #f8f8f8;">Sawan 			Suman</span></span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">5. Curriculum 			Development</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Sanjeev Sanghi</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">6. 			Assistantship Coordinator</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;"><span style="background: #f8f8f8;">Anupam 			Dewan</span></span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">7. Faculty 			Recruitment</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;"><span style="background: #f8f8f8;">Suhail 			Ahmad</span></span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">8. M. Tech. 			Examination</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;"><span style="background: #f8f8f8;">M. 			K. Singha, Balaji S., Rajesh Prasad</span></span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">9. Physical 			Facilities</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;" lang="de-DE"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">S. 			Hegde , V.Tiwari</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><strong><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">INSTITUTE 			ASSIGNMENTS</span></span></strong></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">1. Central 			Library Committee (ACL)</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;" lang="de-DE"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Anupam 			Dewan</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p>2. BAP</p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;" lang="de-DE"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Santosh 			Kapuria</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">3. Computer 			Users’ Committee</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;"><span style="background: #f8f8f8;">Sanjeev 			Sanghi</span></span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">4. Academic 			Interaction Committee</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;" lang="de-DE"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Balaji 			Srinivasan</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">5. Alumni 			Affairs &amp; Intl. Programme</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p style="border: none; padding: 0cm;" lang="de-DE"><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">M.R.Cholernari</span></span></p>
</td>
</tr>
<tr>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: 1.00pt dashed #000000; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.19cm; padding-right: 0.19cm;" width="320">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">6. Vice 			Prcsident,Applied Mech.Society</span></span></p>
</td>
<td style="border-top: none; border-bottom: 1.00pt dashed #000000; border-left: none; border-right: 1.00pt dashed #000000; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.19cm;" width="307">
<p><span style="font-family: Times New Roman,serif;"><span style="font-size: small;">Sawan Suman</span></span></p>
</td>
</tr>
</tbody>
</table> 	</div>


						 </div>
</div>

						</div>

											<div class="sidebar-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="moduletable happenings">
					<h3>Latest Updates</h3>
						<div class="nspMain  happenings" id="nsp-nsp-108" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="../latest-updates/44-nomination-to-bog" title="Nomination to BOG" target="_self">Nomination to BOG</a></h4><p>[ July, 2014]
Prof Sanjeev Sanghi  has been nominated as Senate Nominee to Board of Governers of th&hellip;</p></li>

							<li class="odd"><h4><a href="../latest-updates/43-prof-santosh-kapuria-selected-insa-fellow" title="Prof Santosh Kapuria selected INSA Fellow" target="_self">Prof Santosh Kapuria selected INSA Fellow</a></h4><p>[ October, 2014]
Prof Santosh Kapuria, Professor of Applied Mechanics Department has been selected &hellip;</p></li>
														</ul>

					</div>

									</div>



			</div>
		</div>
			</div>
		</div>

						</div>
								    </div>


			</div> <!--globalContent-->

		    		</div> <!-- wrapper --->
		</div> <!-- feature --->
{% include "footer.html" %}
