{% include "header.html" %}
		<div id="wrapper" class="container">
		    			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="moduletable">

<ul class="breadcrumb">
	<li class="active"><span class="divider icon-location"></span></li><li><a href="index.html" class="pathway">Home</a><span class="divider"><img src="media/system/images/arrow.png" alt="" /></span></li><li class="active"><span>About Us</span></li></ul>
		</div>


				</div>
			</div>
		    		</div>

		<div class="slideshow">
			<div id="header" class="container">
							</div>
		</div>

	<div class="department">
		<div id="header" class="container">
		 			</div>
	</div>
	<div class="feature">
		<div id="wrapper" class="container">


			<div id="globalContent">


			    <div class="row">

						<div id="contentBox" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<div><div id="system-message-container">
	</div>
</div>
							<div><div class="item-page" itemscope itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB" />
				<div class="page-header">
		<h2 itemprop="name">
												<a href="facilities" itemprop="url"> About Us</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;"><strong>Vision</strong><br />To create an environment wherein we can nurture leaders in engineering analysis and design, capable of addressing the needs and challenges of the discipline and the nation.</p>
<p style="text-align: justify;"><strong>Mission</strong><br />To be at the forefront of creation and dissemination of knowledge in the areas of engineering mechanics and materials science.</p>
<p style="text-align: justify;"><strong>Brief Introduction</strong><br />The Department of Applied Mechanics at IIT Delhi primarily does research on fundamental problems of mechanics in the broad areas of solid mechanics, fluid mechanics and materials science. Over the years, the Department has gained expertise in the areas of nonlinear elasticity, composites, impact mechanics, computational mechanics, turbulence modeling etc. to name a few. It has recently delved into the area of bio and nano mechanics with the induction of new faculty members. The Department has also prioritized the development of the following areas for the next five years through induction of new faculties as well as infrastructure development:</p>
<ul class="bullets" style="text-align: justify;">
<li>Bio-mechanics and soft materials</li>
<li>Engineering and scientific computing</li>
<li>Mechanics of multi-functional materials and structures</li>
<li>Design and engineering of light-weight structural materials</li>
<li>Turbulent convection, dispersion and other transport processes</li>
</ul>
<p style="text-align: justify;">The Department is recognised across the institute for teaching basic and advanced courses in mechanics and materials science at both UG and PG level. The Department does not offer any undergraduate degree but it does offer Minor degree in "Computational Mechanics" for undergraduate students. It offers three post-graduate degrees, namely,</p>
<ul class="bullets" style="text-align: justify;">
<li>M. Tech. (Engineering Mechanics)</li>
<li>M.Tech. (Design Engg.)</li>
<li>D.I.I.T. (Naval Construction).</li>
</ul>
<p style="text-align: justify;">The Department also offers MS (Research) and Ph.D. in the above areas. A large number of sponsored research projects funded by Govt. as well as private agencies/departments are currently in progress. The faculty of the department are also involved in several international collaborative and mission projects.</p> 	</div>


						 </div>
</div>

						</div>

											<div class="sidebar-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="moduletable happenings">
					<h3>Latest Updates</h3>
						<div class="nspMain  happenings" id="nsp-nsp-108" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="latest-updates/44-nomination-to-bog" title="Nomination to BOG" target="_self">Nomination to BOG</a></h4><p>[ July, 2014]
Prof Sanjeev Sanghi  has been nominated as Senate Nominee to Board of Governers of th&hellip;</p></li>

							<li class="odd"><h4><a href="latest-updates/43-prof-santosh-kapuria-selected-insa-fellow" title="Prof Santosh Kapuria selected INSA Fellow" target="_self">Prof Santosh Kapuria selected INSA Fellow</a></h4><p>[ October, 2014]
Prof Santosh Kapuria, Professor of Applied Mechanics Department has been selected &hellip;</p></li>
														</ul>

					</div>

									</div>



			</div>
		</div>
			</div>
		</div>

						</div>
								    </div>


			</div> <!--globalContent-->

		    		</div> <!-- wrapper --->
		</div> <!-- feature --->
{% include "footer.html" %}
