{% include "header.html" %}
		<div id="wrapper" class="container">
		    		</div>

		<div class="slideshow">
			<div id="header" class="container">
									<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 slideleft">
									<div class="moduletable slideleft">


<div class="custom slideleft"  >
	<img src= {{ url_for('static', filename = 'images/slider1.jpg') }} width="786" height="291" alt=""></div>
		</div>


						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 slideright">
									<div class="moduletable slideright">
					<h3>Applied Mechanics</h3>


<div class="custom slideright"  >
	<a class="btn btn-primary btn-lg btn-green" href="apply">APPLY NOW<br /><span>Join us in our endeavours</span></a> <br /><br />
<a class="btn btn-primary btn-lg btn-grey" href="http://www.iitd.ac.in/content/campus-life" target="_blank">Campus Tour<br /><span>Students Life at a glance. Take a look</span></a> <br /><br />
<a class="btn btn-primary btn-lg btn-yellow" href="http://am.iitd.ac.in/brochure.pdf" target="_blank">Prospectus<br /><span>We will mail you free prospectus</span></a> <br /><br /></div>
		</div>


						</div>
					</div>
							</div>
		</div>

	<div class="department">
		<div id="header" class="container">
		 				<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="moduletable textcenter">


<div class="custom textcenter"  >
	<a class="researchblock" href="research/solid-mechanics">
<div>
<img src= {{ url_for('static', filename = 'images/icons/solid-mechanics.png') }} width="54" height="52">
<h3>Solid Mechanics</h3>
Composite Materials<br />Dynamics and Vibrations<br />Metal Forming Analysis<br />Finite Element Analysis<br />Smart Structures</a>
<p>&nbsp;</p>
</div></a></div>
		</div>


				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="moduletable textcenter">


<div class="custom textcenter"  >
	<a class="researchblock" href="research/fluid-mechanics">
<div>
<img src= {{ url_for('static', filename = 'images/icons/fluid-mechanics.png') }} width="54">
<h3>Fluid Mechanics</h3>
Pipeline Engineering<br />
Wind Effects on Structures<br />
Computational Fluid Dynamics<br />
Multiphase / Slurry Fluid Flows<br />
Industrial Aerodynamics</a>
<p>&nbsp;</p>
</div></div>
		</div>


				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="moduletable textcenter">


<div class="custom textcenter"  >
	<a class="researchblock" href="research/material-science">
<div>
<img src= {{ url_for('static', filename = 'images/icons/material-science.png') }} width="54">
<h3>Material Science</h3>
Floating metal foam Fracture mechanics<br />
Metal foams<br />
Friction stir welding<br />
Molecular dynamics simulation of Nano-composites</a>
<p>&nbsp;</p>
</div></div>
		</div>


				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="moduletable textcenter">


<div class="custom textcenter"  >
	<a class="researchblock" href="research/design-engineering">
<div>
<img src= {{ url_for('static', filename = 'images/icons/design-engineering.png') }} width="54">
<h3>Design Engineering</h3>
Project Feasibility<br />
Design Methodology<br />
Reliability and Failure Analysis<br />
Computer Aided Design<br />
Design Optimization</a>
<p>&nbsp;</p>
</div></div>
		</div>


				</div>
			</div>
		    		</div>
	</div>
	<div class="feature">
		<div id="wrapper" class="container">

		    			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="moduletable borderleft">
					<h3>Fresh School News</h3>
						<div class="nspMain  borderleft" id="nsp-nsp-101" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="latest-updates/44-nomination-to-bog" title="Nomination to BOG" target="_self">Nomination to BOG</a></h4><p>[ July, 2014]
Prof Sanjeev Sanghi  has been nominated as Senate Nominee to Board of Governers of th&hellip;</p></li>

							<li class="odd"><h4><a href="latest-updates/43-prof-santosh-kapuria-selected-insa-fellow" title="Prof Santosh Kapuria selected INSA Fellow" target="_self">Prof Santosh Kapuria selected INSA Fellow</a></h4><p>[ October, 2014]
Prof Santosh Kapuria, Professor of Applied Mechanics Department has been selected &hellip;</p></li>
														</ul>

					</div>

									</div>



			</div>
		</div>
			</div>
		</div>


				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="moduletable borderleft">
					<h3>Happenings</h3>
						<div class="nspMain  borderleft" id="nsp-nsp-102" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="events/42-seminar-by-professor-ezio-cadoni-university-of-applied-sciences-of-southern-switzerland" title="Seminar by Professor Ezio Cadoni, University of Applied Sciences of Southern Switzerland" target="_self">Seminar by Professor Ezio Cadoni, University of Applied Sciences of Southern Switzerland</a></h4><p>Title: High strain rate behavior of Materials
Date: Friday, 27 January 2012
Time: 4.00 P.M.
Venue&hellip;</p></li>

							<li class="odd"><h4><a href="events/41-indo-danish-workshop-on-future-composite-technologies-wind-turbine-blades" title=" Indo-Danish Workshop on Future Composite Technologies &amp; Wind Turbine Blades  " target="_self"> Indo-Danish Workshop on Future Composite Technologies &amp; Wind Turbine Blades  </a></h4><p>Know More about the Indo-Danish Workshop:
Time: October 6-9, 2012</p></li>

							<li class="even"><h4><a href="events/40-third-asian-conference-on-mechanics-of-functional-materials-and-structures-acmfms-2012" title="Third Asian Conference on Mechanics of Functional Materials and Structures (ACMFMS 2012)" target="_self">Third Asian Conference on Mechanics of Functional Materials and Structures (ACMFMS 2012)</a></h4><p>Conference website: http://acmfms2012.iitd.ac.in
The Third Asian Conference on Mechanics of Functio&hellip;</p></li>
														</ul>

					</div>

									</div>


								<div class="nspBotInterface">

										<span class="nspPrev">Prev</span>
					<span class="nspNext">Next</span>
									</div>

			</div>
		</div>
			</div>
		</div>


				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="moduletable borderleft">
					<h3>About Department</h3>


<div class="custom borderleft"  >
	<a data-toggle="modal" href="index.html#myModal"><img src= {{ url_for('static', filename = 'images/icons/video.jpg') }} class="borderleft"></a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content1">
        <div class="modal-body1">
<iframe width="600" height="360" src="http://www.youtube.com/embed/MT92pI8CqDk" frameborder="0" allowfullscreen></iframe>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<br /><br />
<p><a class="btn btn-primary btn-lg btn-green" href="library/books">Library<br /><span>Department books are available here</span></a></p>
<p><a class="btn btn-primary btn-lg btn-grey" href="index.html#">Equipments<br /><span>See which lab and equipments are available </span></a></p>
<p>&nbsp;</p></div>
		</div>


				</div>
			</div>

			<div id="globalContent">


			    <div class="row">

						<div id="contentBox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div><div id="system-message-container">
	</div>
</div>
							<div><div class="blog-featured" itemscope itemtype="http://schema.org/Blog">




</div>
</div>

						</div>

								    </div>


			</div> <!--globalContent-->

		    		</div> <!-- wrapper --->
		</div> <!-- feature --->
{% include "footer.html" %}
