{% include "header.html" %}
		<div id="wrapper" class="container">
		    			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="moduletable">

<ul class="breadcrumb">
	<li class="active"><span class="divider icon-location"></span></li><li><a href="index.html" class="pathway">Home</a><span class="divider"><img src="media/system/images/arrow.png" alt="" /></span></li><li class="active"><span>Placement</span></li></ul>
		</div>


				</div>
			</div>
		    		</div>

		<div class="slideshow">
			<div id="header" class="container">
							</div>
		</div>

	<div class="department">
		<div id="header" class="container">
		 			</div>
	</div>
	<div class="feature">
		<div id="wrapper" class="container">


			<div id="globalContent">


			    <div class="row">

						<div id="contentBox" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<div><div id="system-message-container">
	</div>
</div>
							<div><div class="item-page" itemscope itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB" />
				<div class="page-header">
		<h2 itemprop="name">
												<a href="placement" itemprop="url"> Placement</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;"><strong>Welcome to Placement Office 2014-15</strong></p>
<p style="text-align: justify;"><em>Deeds, not the words speak...</em></p>
<p style="text-align: justify;">If you are looking for industry drivers, then your journey ends here. Trained in an excellent R&amp;D oriented environment, our products have been shaping the industry over the last four decades. Involvement of our postgraduates in several real time research projects offered by govt. and private agencies speaks volumes of the credibility and quality of service the institute has to offer in the field of Applied Mechanics.</p>
<p style="text-align: justify;">The Department of Applied Mechanics invites the Industry Leaders to participate in Placement 2014-15 to harness the potential of the chosen best minds of this country. Our students are groomed to the needs of the industry and look forward to fuel the industry in providing various engineering solutions, especially in the area of applied mechanics related to:</p>
<ul style="text-align: justify;">
<li>Solid Mechanics: Stress Analysis, FEA, mechanical testing, Impact mechanics, composites, smart structures</li>
<li>Fluid Mechanics: Pipeline engineering, slurry transportation, CFD, flow stability analysis and turbulence modeling, Testing and calibration, non-contact flow measurements.</li>
<li>Materials Engineering: fatigue and failure analysis, fracture mechanics, material testing</li>
<li>Design Engineering: CAD/CAE, Design optimization, design sensitivity analysis.</li>
</ul>
<p style="text-align: justify;">The department looks forward to a long term happy partnership with you. For more details <a href="http://am.iitd.ac.in/brochure.pdf" target="_blank">download the brochure</a></p>
<p><strong>Faculty Coordinator (Placement)</strong></p>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="50%">
<div class="rwspeopletitle">Dr Sawan Suman</div>
<p>Dept. of Applied Mechanics<br /> Indian Institute of Technology, Delhi<br /> New Delhi - 110016<br /> Ph. : +91-11- 2659 1245<br /> Fax : +91-11- 2658 1119<br /> Email: <span id="cloak73268">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
 //<!--
 document.getElementById('cloak73268').innerHTML = '';
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy73268 = 's&#97;w&#97;n' + '&#64;';
 addy73268 = addy73268 + '&#97;m' + '&#46;' + '&#105;&#105;td' + '&#46;' + '&#97;c' + '&#46;' + '&#105;n';
 var addy_text73268 = 's&#97;w&#97;n' + '&#64;' + '&#97;m' + '&#46;' + '&#105;&#105;td' + '&#46;' + '&#97;c' + '&#46;' + '&#105;n';
 document.getElementById('cloak73268').innerHTML += '<a title="Email Us" ' + path + '\'' + prefix + ':' + addy73268 + '\'>'+addy_text73268+'<\/a>';
 //-->
 </script></p>
</td>
<td valign="top">
<div class="rwspeopletitle">Nucleus Committee (Placement 2014-15)</div>
<div>Overall student coordinator -</div>
<p>Sagar Rajkumar Kukdeja (2013AME8309)<br /> Mob. No. +91 9873151639<br /> Email ID. <span id="cloak76560">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
 //<!--
 document.getElementById('cloak76560').innerHTML = '';
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy76560 = 's&#97;g&#97;r.639' + '&#64;';
 addy76560 = addy76560 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 var addy_text76560 = 's&#97;g&#97;r.639' + '&#64;' + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 document.getElementById('cloak76560').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy76560 + '\' rel="noreferrer">'+addy_text76560+'<\/a>';
 //-->
 </script><br />Nucleus team members -<br /> Amandeep (2013AMD2001)<br /> Devesh Jain (2013AMD2007)<br /> Karanveer Singh (2013AME2030)</p>
<p> </p>
</td>
</tr>
</tbody>
</table> 	</div>


						 </div>
</div>

						</div>

											<div class="sidebar-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="moduletable happenings">
					<h3>Latest Updates</h3>
						<div class="nspMain  happenings" id="nsp-nsp-108" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="latest-updates/44-nomination-to-bog" title="Nomination to BOG" target="_self">Nomination to BOG</a></h4><p>[ July, 2014]
Prof Sanjeev Sanghi  has been nominated as Senate Nominee to Board of Governers of th&hellip;</p></li>

							<li class="odd"><h4><a href="latest-updates/43-prof-santosh-kapuria-selected-insa-fellow" title="Prof Santosh Kapuria selected INSA Fellow" target="_self">Prof Santosh Kapuria selected INSA Fellow</a></h4><p>[ October, 2014]
Prof Santosh Kapuria, Professor of Applied Mechanics Department has been selected &hellip;</p></li>
														</ul>

					</div>

									</div>



			</div>
		</div>
			</div>
		</div>

						</div>
								    </div>


			</div> <!--globalContent-->

		    		</div> <!-- wrapper --->
		</div> <!-- feature --->
{% include "footer.html" %}
