{% include "header.html" %}
		<div id="wrapper" class="container">
		    			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="moduletable">

<ul class="breadcrumb">
	<li class="active"><span class="divider icon-location"></span></li><li><a href="../index.html" class="pathway">Home</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li><a href="../publications" class="pathway">Publications</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li class="active"><span>Material Science</span></li></ul>
		</div>


				</div>
			</div>
		    		</div>

		<div class="slideshow">
			<div id="header" class="container">
							</div>
		</div>

	<div class="department">
		<div id="header" class="container">
		 			</div>
	</div>
	<div class="feature">
		<div id="wrapper" class="container">


			<div id="globalContent">


			    <div class="row">

						<div id="contentBox" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<div><div id="system-message-container">
	</div>
</div>
							<div><div class="item-page" itemscope itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB" />
				<div class="page-header">
		<h2 itemprop="name">
												<a href="material-science" itemprop="url"> Material Science</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p>Selected Recent and important Publications by our faculty members in the area can be found below .</p>
<p>For a more complete list of publications please visit individual faculty webpages.</p>
<ul class="bullets">
<li>S. Giribaskar, Gouthama and R. Prasad, “Dynamic Recrystallization in Al-Li based Alloy during ECAE”, Materials Science Forum, 715-716 (*2012*) 286-291</li>
<li>S. Giribaskar, Gouthama and R. Prasad, “Ultra-Fine Grained Al-SiC Metal Matrix Composite by Rotary Swaging Process”, Materials Science Forum, 702-703 (*2012*) 320-324</li>
<li>B. Basu, D. Tiwari, D. Kundu and Rajesh Prasad “Is Weibull Distribution the Most Appropriate Statistical Strength Distribution for Brittle Materials?”* **Ceramics International,* 35 (*2009*), 237-246.</li>
<li>B. Hutchinson, J. Jain, M. R. Barnett, “A minimum parameter approach to the crystal plasticity modelling”, Acta Materialia 60 (2012) 5391–5398.</li>
<li>J. Jain, W. J. Poole, C. W. Sinclair, “The deformation behavior of the magnesium alloy AZ80 at 77 and 293 K”, Materials Science and Engineering A, 547 (2012) 128–137.</li>
<li>J. Jain, J. Zou, C. W. Sinclair, W. J. Poole, "Double tensile twinning in a Mg-8Al-0.5Zn alloy", Journal of Microscopy, 242 (2011) 26.</li>
<li>J. Jain, W. J. Poole, C. W. Sinclair, M. Gharghouri, "Reducing the tension-compression yield asymmetry in a Mg-8Al-0.5Zn alloy via precipitation", Scripta Materialia, 62 (2010): 301</li>
</ul> 	</div>


						 </div>
</div>

						</div>

											<div class="sidebar-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="moduletable happenings">
					<h3>Latest Updates</h3>
						<div class="nspMain  happenings" id="nsp-nsp-108" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="../latest-updates/44-nomination-to-bog" title="Nomination to BOG" target="_self">Nomination to BOG</a></h4><p>[ July, 2014]
Prof Sanjeev Sanghi  has been nominated as Senate Nominee to Board of Governers of th&hellip;</p></li>

							<li class="odd"><h4><a href="../latest-updates/43-prof-santosh-kapuria-selected-insa-fellow" title="Prof Santosh Kapuria selected INSA Fellow" target="_self">Prof Santosh Kapuria selected INSA Fellow</a></h4><p>[ October, 2014]
Prof Santosh Kapuria, Professor of Applied Mechanics Department has been selected &hellip;</p></li>
														</ul>

					</div>

									</div>



			</div>
		</div>
			</div>
		</div>

						</div>
								    </div>


			</div> <!--globalContent-->

		    		</div> <!-- wrapper --->
		</div> <!-- feature --->
{% include "footer.html" %}
