{% include "header.html" %}
		<div id="wrapper" class="container">
		    			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="moduletable">

<ul class="breadcrumb">
	<li class="active"><span class="divider icon-location"></span></li><li><a href="../index.html" class="pathway">Home</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li><a href="../people" class="pathway">People</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li class="active"><span>Staff</span></li></ul>
		</div>


				</div>
			</div>
		    		</div>

		<div class="slideshow">
			<div id="header" class="container">
							</div>
		</div>

	<div class="department">
		<div id="header" class="container">
		 			</div>
	</div>
	<div class="feature">
		<div id="wrapper" class="container">


			<div id="globalContent">


			    <div class="row">

						<div id="contentBox" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<div><div id="system-message-container">
	</div>
</div>
							<div><div class="item-page" itemscope itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB" />
				<div class="page-header">
		<h2 itemprop="name">
												<a href="staff" itemprop="url"> Staff</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td class="textheading">Name</td>
<td class="textheading">Designation</td>
<td class="textheading">Address</td>
<td class="textheading">Phone</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">R.P. Bhogal</td>
<td>Technical Superintendent</td>
<td>R.No. 154, Block IV</td>
<td>2659&nbsp;6268</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Surinder Singh</td>
<td>Senior Lab Assistant </td>
<td>R.No. MS 207 / C-7</td>
<td>2659 6592</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Prem&nbsp;Chand</td>
<td>Lab Assistant</td>
<td>R.No. 249, Block IV</td>
<td>2659&nbsp;6256</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Rishi Prakash Dagar</td>
<td>Sr. Lab Assistant</td>
<td>R.No.249 , Block IV</td>
<td>2659&nbsp;6256</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Madan Gopal</td>
<td>Mechanic</td>
<td>R.No.250 , Block IV</td>
<td>2659&nbsp;6354</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">A.K. Goyal</td>
<td>Sr. Tech. Superintendent</td>
<td>R.No. MS 207 / C-7</td>
<td>2659 6592</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Harpreet Singh</td>
<td>Jr. Tech. Superintendent</td>
<td>R.No. 249, Block IV</td>
<td>2659 6256</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Anil Kumar</td>
<td>Lab Assistant</td>
<td>R.No.250 , Block IV</td>
<td>2659&nbsp;6228</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Manohar Lal</td>
<td>Attendant</td>
<td>R.No.250 , Block IV</td>
<td>2659&nbsp;6341</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Niranjan Lal</td>
<td>Mechanic&nbsp;</td>
<td>R.No.136 , Block IV</td>
<td>2659&nbsp;6355&nbsp;</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Nand Lal</td>
<td>Cleaner</td>
<td>R.No. 154, Block IV</td>
<td>2659&nbsp;6268</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">V.S. Rawat</td>
<td>Jr. Technical Superintendent</td>
<td>R.No. 353, Block IV</td>
<td>2659&nbsp;6257</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">R.K. Garg</td>
<td>Junior Superintendent</td>
<td>R.No.151 , Block IV</td>
<td>2659 6234</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Daya Chand Sharma</td>
<td>Jr. Technical Superintendent</td>
<td>R.No.250 , Block IV</td>
<td>2659 6354</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Bharat Singh</td>
<td>Attendant</td>
<td>R.No.136 , Block IV</td>
<td>2659&nbsp;6355</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Dharam Singh</td>
<td>Chief Draughtsman</td>
<td>R.No. 355, Block IV</td>
<td>2659&nbsp;6258</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Rama Nand</td>
<td>Mechanic </td>
<td>R.No.133, Block III</td>
<td>2659&nbsp;6341</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Ram Singh</td>
<td>Attendent</td>
<td>R.No. 240, Block IV</td>
<td>2659 6204</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Vikram Singh</td>
<td>Junior Superintendent</td>
<td>R.No.236 , Block IV</td>
<td>2659 1201</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Rajendar Singh Siroha</td>
<td>Attendant</td>
<td>R.No.250 , Block IV</td>
<td>2659&nbsp;6354</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="textheadinginner">Pramod Kumar</td>
<td>Attendant</td>
<td>R.No. MS 207 / C-7</td>
<td>2659 6592</td>
</tr>
<tr>
<td class="textcontentsap" colspan="4">&nbsp;</td>
</tr>
</tbody>
</table> 	</div>


						 </div>
</div>

						</div>

											<div class="sidebar-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="moduletable happenings">
					<h3>Latest Updates</h3>
						<div class="nspMain  happenings" id="nsp-nsp-108" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="../latest-updates/44-nomination-to-bog" title="Nomination to BOG" target="_self">Nomination to BOG</a></h4><p>[ July, 2014]
Prof Sanjeev Sanghi  has been nominated as Senate Nominee to Board of Governers of th&hellip;</p></li>

							<li class="odd"><h4><a href="../latest-updates/43-prof-santosh-kapuria-selected-insa-fellow" title="Prof Santosh Kapuria selected INSA Fellow" target="_self">Prof Santosh Kapuria selected INSA Fellow</a></h4><p>[ October, 2014]
Prof Santosh Kapuria, Professor of Applied Mechanics Department has been selected &hellip;</p></li>
														</ul>

					</div>

									</div>



			</div>
		</div>
			</div>
		</div>

						</div>
								    </div>


			</div> <!--globalContent-->

		    		</div> <!-- wrapper --->
		</div> <!-- feature --->
{% include "footer.html" %}
