{% include "header.html" %}
		<div id="wrapper" class="container">
		    			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="moduletable">

<ul class="breadcrumb">
	<li class="active"><span class="divider icon-location"></span></li><li><a href="../index.html" class="pathway">Home</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li><a href="../research" class="pathway">Research</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li class="active"><span>Fluid Mechanics</span></li></ul>
		</div>


				</div>
			</div>
		    		</div>

		<div class="slideshow">
			<div id="header" class="container">
							</div>
		</div>

	<div class="department">
		<div id="header" class="container">
		 			</div>
	</div>
	<div class="feature">
		<div id="wrapper" class="container">


			<div id="globalContent">


			    <div class="row">

						<div id="contentBox" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<div><div id="system-message-container">
	</div>
</div>
							<div><div class="item-page" itemscope itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB" />
				<div class="page-header">
		<h2 itemprop="name">
												<a href="fluid-mechanics" itemprop="url"> Fluid Mechanics</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		 <p><strong>Main Research Areas:</strong> Pipeline Engineering, Slurry Transportation, Hydrodynamics stability and numerical modeling, Computational fluid dynamics, Turbulence studies, Flow diagnostics, Computational fluid dynamics (CFD).</p>
<p><strong>Some Recent Projects:</strong></p>
<p>Some ongoing/recent projects are listed below. For a more complete list please visit the individual faculty webpages.</p>
<ul class="bullet">
<li>Development of an Associate Node for Computational Fluid Dynamics at IIT Delhi Sponsored by ARDB, Rs 42.07 Lacs <strong>(Prof S.N. Singh, Prof Sesahdri,Prof. C V Ramakrishnan, Prof. S. Sanghi, Dr. Balaji Srinivasan)</strong></li>
<li>Bioenergy: Technology and Business Solutions for the UK and India under Science Bridge Programme between Aston University, UK and I.I.T., Delhi, India Sponsored by DST &amp; RCUK -- Rs 7 crores (Prof Singh, Prof Sen)</li>
<li>July 2008 - Till date, "Modelling and Computation of Three-Dimensional Turbulent Convective Heat Transfer for Design of Energy Efficient Pin Fin Heat Exchanger" <strong>Prof. Anupam Dewan with Dr. P. Mahanta (PI), Department of Science and Technology, Govt. of India, New Delhi (Ongoing), Amount of Funding: Rs. 12.29 lac.</strong></li>
</ul> 	</div>


						 </div>
</div>

						</div>

											<div class="sidebar-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="moduletable happenings">
					<h3>Latest Updates</h3>
						<div class="nspMain  happenings" id="nsp-nsp-108" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="../latest-updates/44-nomination-to-bog" title="Nomination to BOG" target="_self">Nomination to BOG</a></h4><p>[ July, 2014]
Prof Sanjeev Sanghi  has been nominated as Senate Nominee to Board of Governers of th&hellip;</p></li>

							<li class="odd"><h4><a href="../latest-updates/43-prof-santosh-kapuria-selected-insa-fellow" title="Prof Santosh Kapuria selected INSA Fellow" target="_self">Prof Santosh Kapuria selected INSA Fellow</a></h4><p>[ October, 2014]
Prof Santosh Kapuria, Professor of Applied Mechanics Department has been selected &hellip;</p></li>
														</ul>

					</div>

									</div>



			</div>
		</div>
			</div>
		</div>

						</div>
								    </div>


			</div> <!--globalContent-->

		    		</div> <!-- wrapper --->
		</div> <!-- feature --->
{% include "footer.html" %}
