{% include "header.html" %}
		<div id="wrapper" class="container">
		    			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="moduletable">

<ul class="breadcrumb">
	<li class="active"><span class="divider icon-location"></span></li><li><a href="../index.html" class="pathway">Home</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li><a href="../research" class="pathway">Research</a><span class="divider"><img src="../media/system/images/arrow.png" alt="" /></span></li><li class="active"><span>Honours and Awards</span></li></ul>
		</div>


				</div>
			</div>
		    		</div>

		<div class="slideshow">
			<div id="header" class="container">
							</div>
		</div>

	<div class="department">
		<div id="header" class="container">
		 			</div>
	</div>
	<div class="feature">
		<div id="wrapper" class="container">


			<div id="globalContent">


			    <div class="row">

						<div id="contentBox" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<div><div id="system-message-container">
	</div>
</div>
							<div><div class="item-page" itemscope itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB" />
				<div class="page-header">
		<h2 itemprop="name">
												<a href="honours-and-awards" itemprop="url"> Honours and Awards</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;"><strong>Dr Jayant Jain</strong><br />One of the recent papers by Dr Jayant Jain et al. was named the number 1 paper out of the 25 hottest articles in Acta Materialia.  <a href="http://www.sciencedirect.com/science?_ob=GatewayURL&amp;_method=citationSearch&amp;_urlVersion=4&amp;_origin=SDTOPTWOFIVE&amp;_version=1&amp;_piikey=S1359645412004296&amp;md5=2ede9e47e90c3195904c1889e9a081cb" target="_blank"><strong>A minimum parameter approach to crystal plasticity modelling</strong></a><em style="font-weight: normal;">  Acta Materialia, Volume 60, Issue 15, September 2012, Pages 5391-5398 <span style="font-style: normal;">Hutchinson, B.; Jain, J.; Barnett, M.R. </span> </em></p>
<p style="text-align: justify;"><strong>Professor P. K. Sen</strong>   <br />Prof P.K. Sen of Applied Mechanics at IITD has been conferred D.Sc (Honoris Causa) by Aston University, UK along with Prof. (Mrs) Padma V. Sen, in July 2012. He is a Fellow of the National Academy of Engineering (FNAE) and has been the President of the National Society of Fluid Mechanics and Fluid Power, India. He has also been Visiting Professor of University of Warwick, UK.</p>
<p style="text-align: justify;"><strong>Dr Rajesh Prasad, Dr. B.P. Patel and Dr. Balaji Srinivasan</strong>   <br />The Department of Applied Mechanics scores a hatric in the recently announced Best Teacher Awards for II semester 2010-11 and I semester 2011-12of the Institute. The Department is proud to congratulate Dr Rajesh Prasad, Dr. B.P. Patel and Dr. Balaji Srinivasan who have figured in the list as the best teachers. </p>
<p style="text-align: justify;"><strong>Professor N.K. Gupta</strong>  <br />Prof. NK Gupta, Henry Ford Chair Emeritus Professor, Department of Applied Mechanics, has been conferred with J.C. Bose Memorial Award by the Prime Minister of India during the inaugural function of the 97th Indian Science Congress held on January 3, 2010 at Thiruvananthapuram</p>
<p style="text-align: justify;"><strong>Professor N.K. Gupta</strong><br /> Prof. N.K. Gupta, Henry Ford Chair Emeritus Professor, Department of Applied mechanics, has been selected for Shri Om Prakash Bhasin Award for the year 2009 in the field of Engineering including Energy and Aerospace</p>
<p style="text-align: justify;"> </p> 	</div>


						 </div>
</div>

						</div>

											<div class="sidebar-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="moduletable happenings">
					<h3>Latest Updates</h3>
						<div class="nspMain  happenings" id="nsp-nsp-108" data-config="{
				'animation_speed': 400,
				'animation_interval': 5000,
				'animation_function': 'Fx.Transitions.Expo.easeIn',
				'news_column': 1,
				'news_rows': 1,
				'links_columns_amount': 1,
				'links_amount': 3
			}">
					<div class="nspArts bottom" style="width:100%;">
								<div class="nspArtScroll1">
					<div class="nspArtScroll2 nspPages0">
										</div>
				</div>
			</div>
						<div class="nspLinksWrap bottom" style="width:99.9%;">
			<div class="nspLinks" style="margin:0;">
								<div class="nspLinkScroll1">
					<div class="nspLinkScroll2 nspPages3">
																				<ul class="nspList active nspCol3">

							<li class="even"><h4><a href="../latest-updates/44-nomination-to-bog" title="Nomination to BOG" target="_self">Nomination to BOG</a></h4><p>[ July, 2014]
Prof Sanjeev Sanghi  has been nominated as Senate Nominee to Board of Governers of th&hellip;</p></li>

							<li class="odd"><h4><a href="../latest-updates/43-prof-santosh-kapuria-selected-insa-fellow" title="Prof Santosh Kapuria selected INSA Fellow" target="_self">Prof Santosh Kapuria selected INSA Fellow</a></h4><p>[ October, 2014]
Prof Santosh Kapuria, Professor of Applied Mechanics Department has been selected &hellip;</p></li>
														</ul>

					</div>

									</div>



			</div>
		</div>
			</div>
		</div>

						</div>
								    </div>


			</div> <!--globalContent-->

		    		</div> <!-- wrapper --->
		</div> <!-- feature --->
{% include "footer.html" %}
