<div id="footer">
    <div class="container">


        <div class="content_footer row">
            <div class="copyrights col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>Copyright © Applied Mechanics - IIT Delhi. All Rights Reserved.</p>					</div>
            <div class="soc_icons_box col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="soc_icons" >
                                            </ul>
            </div>
        </div> <!--content_footer-->

                    </div>
</div> <!--id footer-->
</body>
<script type="text/javascript"></script>
