<div class="moduletable">
        <h3>Login</h3>
        <form action="all_categories" method="post" id="login-form" class="form-inline">
<div class="userdata">
<div id="form-login-username" class="control-group">
<div class="controls">
                        <div class="input-prepend">
            <span class="add-on">
                <span class="icon-user hasTooltip" title="Username"></span>
                <label for="modlgn-username" class="element-invisible">Username</label>
            </span>
            <input id="modlgn-username" type="text" name="username" class="input-small" tabindex="0" size="18" placeholder="Username" />
        </div>
                </div>
</div>
<div id="form-login-password" class="control-group">
<div class="controls">
                        <div class="input-prepend">
            <span class="add-on">
                <span class="icon-lock hasTooltip" title="Password">
                </span>
                    <label for="modlgn-passwd" class="element-invisible">Password							</label>
            </span>
            <input id="modlgn-passwd" type="password" name="password" class="input-small" tabindex="0" size="18" placeholder="Password" />
        </div>
                </div>
</div>
            <div id="form-login-remember" class="control-group checkbox">
<label for="modlgn-remember" class="control-label">Remember Me</label> <input id="modlgn-remember" type="checkbox" name="remember" class="inputbox" value="yes"/>
</div>
    <div id="form-login-submit" class="control-group">
<div class="controls">
    <button type="submit" tabindex="0" name="Submit" class="btn btn-primary">Log in</button>
</div>
</div>
        <ul class="unstyled">
                <li>
        <a href="../../../component/users/index.html?view=registration">
        Create an account <span class="icon-arrow-right"></span></a>
    </li>
                <li>
        <a href="../../../component/users/index.html?view=remind">
        Forgot your username?</a>
    </li>
    <li>
        <a href="../../../component/users/index.html?view=reset">
        Forgot your password?</a>
    </li>
</ul>
<input type="hidden" name="option" value="com_users" />
<input type="hidden" name="task" value="user.login" />
<input type="hidden" name="return" value="aW5kZXgucGhwP29wdGlvbj1jb21fYm9va2xpYnJhcnkmdGFzaz1hbGxfY2F0ZWdvcmllcyZJdGVtaWQ9MTk0" />
<input type="hidden" name="4c30e4884b913260a8ca1e5cb6604754" value="1" />	</div>
</form>
</div>
